body{
    background: linear-gradient(45deg,#010758,#490d61);
    width: 100%;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 103px;
    align-items: center;
    justify-content: center;
}
.btn{
    font-size: 25px;
    border-radius: 15px;
    background-color: #8e9384;
    padding: 8px;
    color: aliceblue;
    
}

.left{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: -198px;
    margin-top: 10px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#heading{
    font-size: 45px;
    font-weight: 500;
    color: aliceblue;
    margin-top: -50px;
}
textarea{
    width: 600px;
    height: 250px;
    background: #403d84;
    color: #fff;
    font-size: 35px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
    margin-top: 30px;
}
textarea::placeholder{
    color: #ddd;
}
#command{
    color: aliceblue;
}